/*Reglas
selectores
declaraciones
propiedades
valores de CSS
*/


body{
  font-family:'Source Sans Pro',sans-serif;
}
h1,
h2,
h3,
h4,
h5
h6{
  font-family: 'Fjalla One',sans-serif;
  font-weight: normal
}
h1{
  color: white;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2;
  margin: 0px 0px;
  /*text-transform: uppercase;*/
}
h1 strong{
  color: #026fff;
}
#hero{
  height: 300px;
  background-image: url('../img/perfil.jpg');
  background-color: #1d212c;
  background-size: 300px 250px;
  background-repeat: no-repeat;
  background-position-x: right;
}
.projects-details{
  width: 400px;
  height: 300;
}
.perfil{
  width: 500px;
  height: 300px;
}
header{
  background-color:#1d212c;
  color: white
}
header a{
  color:white;
  text-decoration:none;
}
header ol{
  margin:0px 0px;
}
.portfolio{
  background: #fafafa;
}
.project {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 15px;
  padding: 10px;
  background: white;
  display: flex;
}
.projects-details{
  width: 500px;
}