/*Reglas
selectores
declaraciones
propiedades
valores de CSS
*/


body{
  font-family:'Source Sans Pro',sans-serif;
}
h1,
h2,
h3,
h4,
h5
h6{
  font-family: 'Fjalla One',sans-serif;
  font-weight: normal
}
h1{
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2;
  /*text-transform: uppercase;*/
}
#hero{
  height: 300px;
}
.projects-details{
  width: 400px;
  height: 300;
}
.perfil{
  width: 500px;
  height: 300px;
}
